body{
    background-color:rgba(0,0,0,0.5);
    background-image: url("../images/backgrund-footer.jpg");
    background-position:top;
}

form{
    margin-top:197px;
}

.contact-form {
    text-align: left;
    padding: 40px 0;
    color: #333;
}

.form-group {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.form-group input:focus,
.form-group input:active {
    outline: none;
}

.form-group input[type="submit"]:active {
    color: white;
    background: #21a1e1;
}

.form-group input,
.form-group textarea {
    width: 100%;
    display: inline-block;
    padding: 5px 0;
    margin: 10px 0 0 0;
    font-size: 18px;
    background: none;
    border: 0;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-group input:focus,
.form-group textarea:focus {
    border:0;
    border-bottom: 1px solid #61b956;
    -webkit-transition: border-width 0.1s ease-in-out;
    -moz-transition: border-width 0.1s ease-in-out;
    transition: border-width 0.1s ease-in-out;
}

.form-group textarea:focus {
    border:0;
    border-bottom: 2px solid #61b956;
}

.form-group textarea {
    min-height: 100px;
    border:0;
    padding: 0px;
    border-bottom: 1px solid #ffffff;
    margin-top:40px;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 0px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
    color: #ffffff;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}

.form-group textarea + label {
    top: 24%;
}

.form-group input:focus + label,
.form-group input.has-value + label,
.form-group textarea:focus + label,
.form-group textarea.has-value + label {
    top: -0px;
    font-size: 12px;
    color: #61b956;
}

.form-group textarea:focus + label,
.form-group textarea.has-value + label {
    top: 30px;
}

.boton{
    padding: 5px 20px;
    font-size: 14px;
    color: #fff;
    font-weight:bold !important;
    border-radius: 4px;
    border:1px solid #61b956;
    background-color: #61b956;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.condiciones{
    color:#ffffff;
    font-weight:100 !important;
    margin:30px 0;
}



/*-------------------------checkbox--------------------*/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;

}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.90em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content:'X';
  padding: 1px;
  position: absolute;
  top: .1em; left: .1em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #ffffff;
  transition: all .2s;
  background:#61b956;
  width:15px; height:15px;
  border-radius:3px;

}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}