
body {margin:0;
}
/*------------------------------------------------INICIO MENU PRINCIPAL --------------------------------------------------------*/
.navegacion{
  background-color: transparent; 
    position: absolute;
    z-index: 1;
}
.nav{
    width: 749px;
}
.menuPrincipal{
    width: 749px;
}
.menuPrincipal a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    
}

.menuPrincipal a:hover {
  background-color: #ddd;
  color: black;
}

.menuPrincipal .icon {
  display: none;
}
.menu a{
    display: inline;
}
/*------------------------------------------------FIN MENU PRINCIPAL --------------------------------------------------------*/
/*------------------------------------------------INICIO BANNER SECTION --------------------------------------------------------*/
.inicio {
    background-image: url(../img/main-banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    position: absolute;
}

.inicioTexto1 {
    position: relative;
    top: 160px;
    margin-left: 220px;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}
.inicioTexto2 {
    position: relative;
    top: 140px;
    margin-left: 220px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
/*------------------------------------------------FIN BANNER SECTION --------------------------------------------------------*/
/*------------------------------------------------INICIO QUIENES SOMOS --------------------------------------------------------*/
.quienesSomos {
    background-image: url(../img/hands.png);
    background-repeat: no-repeat;
    width: 80%;
    height: 68%;
    margin-left: 17%;
    position: absolute;
    top: 70%; 
}

.letraVerdeA{
  position: relative;
  bottom: -170px;
  margin-right: 270px;
  height: 40px;
  font-size: 70px;
  font-weight: 900;
  color: #5bbb4a;
}
.letraVerdeB{
  position: relative;
  bottom: -190px;
  margin-right: 360px;
  font-size: 18px;
  font-weight: 600;
  color: #5bbb4a;
}
/*------------------------------------------------FIN QUIENES SOMOS --------------------------------------------------------*/
/*------------------------------------------------INICIO MODAL VIDEO --------------------------------------------------------*/
#modalVideo{
    	margin: 20px;
    }
.modal-content iframe{
        margin: 0 auto;
        display: block;
    }
.imagenVideo {
    position: relative;
    margin-left: 510px;
    top: 380px;
    z-index: 1;
}
/*------------------------------------------------FIN MODAL VIDEO --------------------------------------------------------*/
/*------------------------------------------------INICIO TEXTO --------------------------------------------------------*/
.textoNosotros {
    position: relative;
    top: 390px;
    margin-left: 120px;
    text-align: left;
    width: 618px;
    color: #A9A9A9;
}
/*------------------------------------------------FIN TEXTO --------------------------------------------------------*/
/*------------------------------------------------INICIO NOTICIAS --------------------------------------------------------*/
.carousel {
    top: 420px;
    margin-left: -70px;
    width: 450px;
    height: 420px;
    background-color: #5bbb4a;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 20% !important;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.noticias{
  color: #fff;
  background-color: #5bbb4a;
}

.infoNoticias {
    position: relative;
    margin-top: 12%;
    text-align: left;
    margin-left: 16%;
    margin-right: 16%;
}

.masInfo{
    color: #fff;
    }
.tituloNoticias{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 0px;
}

.linea{
    border-bottom: 2px solid white;
    width: 35px;
    margin-left: 0;
    position: relative;
    top: -20px;
}
.fechaNoticias{
    position: relative;
    top: -10px;
    font-size: 12px;
}
.titularNoticias{
    position: relative;
    top: -20px;
    font-size: 22px;
}


/*------------------------------------------------FIN NOTICIAS --------------------------------------------------------*/
/*------------------------------------------------INICIO RESPONSIVE --------------------------------------------------------*/
/*------------------------------------------------INICIO RESPONSIVE MENU--------------------------------------------------------*/
@media screen and (max-width: 600px) {
  .menuPrincipal a:not(:first-child) {display: none;}
  .menuPrincipal a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .menuPrincipal.responsive {position: relative;}
  .menuPrincipal.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menuPrincipal.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*------------------------------------------------FIN RESPONSIVE MENU--------------------------------------------------------*/
/*------------------------------------------------FIN RESPONSIVE --------------------------------------------------------*/

